<%-include("../partials/header")-%>
<body class="flex">
  <%-include("../partials/sidebar")-%>
  <div class="py-5 flex-auto">
    <div class="flex justify-between">
      <h1 class="text-2xl font-roboto ml-3 font-bold">Sleep</h1>
      <div class="px-8 cursor-pointer"><%=username %></div>
    </div>
    <div class="mt-5 ml-3">
      <div
        class="text-slate-950 text-2xl font-semibold w-5/6 h-3/4 m-auto mt-10"
      >
        Today's Progress
      </div>
      <div
        class="text-slate-950 text-2xl font-semibold w-5/6 h-3/4 m-auto mt-10 grid"
      >
        <div>
          <div>
            <canvas id="dailyChart"> </canvas>
          </div>
          <p id="dailyInfo" class="text-center text-base"></p>
          <form
            id="hrsForm"
            class="flex justify-center gap-3 items-center mt-4"
          >
            <label class="text-sm">Update hours: </label>
            <input
              name="hours"
              placeholder="in hrs"
              class="border-2 px-2 text-sm focus:ring-blue-600 focus:border-blue-600"
              name=""
              type="number"
              min="1"
              max="24"
              required
            />
            <span class="text-base">hrs</span>
            <button
              id="updateHrs"
              class="text-xs border-2 font-bold px-3 py-1 border-none active:border-none focus:border-none hover:bg-blue-600 rounded-md bg-blue-500 text-white"
            >
              update
            </button>
          </form>
          <p class="text-xs mt-0 text-neutral-700 text-center">
            Sleep hours will not be added to previous data. It will be updated!
          </p>
        </div>
      </div>
      <div
        class="text-slate-950 text-2xl font-semibold w-5/6 h-3/4 m-auto mt-10"
      >
        Excercise Now!
      </div>
      <div class="w-5/6 m-auto h-3/4 pb-5">
        <div class="w-1/4 mt-5 h-40 border grid rounded-md">
          <div
            class="bg-red-500 row-span-6 flex items-center justify-center font-bold text-white text-2xl"
          >
            Start Excercise
          </div>
          <a
            class="bg-blue-500 row-span-2 font-bold text-white flex items-center justify-center cursor-pointer hover:bg-blue-700"
            href="/excercise/start"
          >
            Start Now</a
          >
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  const dailyChart = document.getElementById("dailyChart");
  const dailyInfo = document.getElementById("dailyInfo");
  const sleepGoal = parseInt("<%= profile.sleepgoal %>");
  const hrsForm = document.getElementById("hrsForm")

  function getTodayDate() {
    let currentDate = new Date();
    const offset = currentDate.getTimezoneOffset();
    currentDate = new Date(currentDate.getTime() - offset * 60 * 1000);
    return currentDate.toISOString().split("T")[0];
  }

  function updateInfo(sleep) {
    const remainGoal = sleepGoal - sleep;

    if (remainGoal <= 0) {
      dailyInfo.textContent = "You did not reach your sleeping goal";
    } else {
      dailyInfo.textContent = "You reached your sleeping goal!";
    }
  }

  function chartOptions() {
    const options = {
      plugins: {
        title: {
          display: true,
          text: "Hours slept",
        },
      },
      beziercurve: true,
      responsive: true,
      aspectRatio: 1,
      maintainAspectRatio: false,
    };

    return options;
  }

  function createSleepGraph(sleepHrs) {
    new Chart(dailyChart, {
      type: "doughnut",
      data: {
        labels: ["Goal", "Hours Slept"],

        datasets: [
          {
            label: "Hours slept",

            data: [
              sleepGoal - sleepHrs < 0
                ? 0
                : sleepGoal - sleepHrs,
                sleepHrs,
            ],

            backgroundColor: ["rgb(255, 99, 132)", "rgb(119, 115, 172)"],

            hoverOffset: 4,
          },
        ],
      },
      options: chartOptions(),
    });
  }

  hrsForm.addEventListener("submit", async (e) => {
    e.preventDefault()
    try {
      const date = getTodayDate();
      const hrsSlept = hrsForm.hours.value

      const res = await fetch("/sleep", {
        method: "PUT",
        body: JSON.stringify({
            date, hrsSlept
        }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await res.json();
      console.log(data);

      if (res.ok) {
        updateInfo(data.sleep);
        hrsForm.hours.value = ""
      } else {
        console.log("error");
        //emailError.textContent = data.email
      }
    } catch (e) {
      console.log(e.message);
    }
  });

  async function getHistory() {
    try {
      const date = getTodayDate();

      const res = await fetch(`/history/single?date=${date}`, {
        method: "GET",
        headers: { "Content-Type": "application/json" },
      });

      const data = await res.json();
      console.log(data);

      if (res.ok) {
        createSleepGraph(data.sleep);
        updateInfo(data.sleep);
      } else {
        console.log("error");
        //emailError.textContent = data.email
      }
    } catch (e) {
      console.log(e.message);
    }
  }

  window.onload = getHistory;
</script>
